@font-face {
  font-family: "PT Astra Sans";
  src: url("fonts/pt-astra-sans.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

hr {
  opacity: 0.5;
  margin-top: 0.7rem;
}

.cssBayan {
  font-size: 62.5%;
}

.body {
  margin: 0;

  font-family: "PT Astra Sans", arial, sans-serif;
  font-size: 1.5rem;

  background-color: #e6e0f67b;
}

.title__h1 {
  width: fit-content;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2%;

  font-size: 3rem;
}

.container {
  width: 70%;
}

.input {
  display: none;
}

.mems {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.label {
  cursor: pointer;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-close__img {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in, opacity 0.2s;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.inner {
  display: block;
  transform: scale(0);
  width: 0;
  transition: width 0.7s;
}


.input:checked ~ .inner {
  transform: scale(1);
  width: 100%;
  transition: transform 0.8s ease-out;
}

.input:checked ~ .title-wrapper .button-close__img {
  transform: rotate(0deg);
}

.inner__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* tablet */
@media (min-width: 820px) {
  .body {
    font-size: 1rem;
  }

  .mems {
    width: 60%;
  }

  .title__h1 {
    font-size: 4.5rem;
  }

  .title {
    font-size: 2.6rem;
  }

  .button-close__img {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 1920px) {
  .body {
    font-size: 2rem;
  }

  .title__h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  .title {
    font-size: 4rem;
  }

  .button-close__img {
    width: 4rem;
    height: 4rem;
  }
}

.input:not(:checked) ~ .title-wrapper .title {
  color: #2b24e3;
}

.label:active .inner {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.label:active .title-wrapper .title {
  color: #2b24e3 !important;
}

@media (hover: hover) {
  .button-close__img {
    opacity: 0;
  }

  .mems:hover .title-wrapper .title {
    color: #000;
  }

  .mems:hover .title-wrapper .button-close__img {
    opacity: 1;
  }

  .label:hover .inner {
    transform: scale(1);
    width: 100%;
    transition: transform 0.8s ease-out;
  }

  .label:hover .title-wrapper .button-close__img {
    transform: rotate(0deg);
  }
}

@media (hover: none) {
  .mems:active .title-wrapper .title {
    color: #000 !important;
  }

  .label:active .title-wrapper .title {
    color: #2b24e3 !important;
  }

  .input:checked ~ .inner {
    transform: scale(1);
    width: 100%;
    transition: transform 0.8s ease-out;
  }
}
